.heroMain {
  width: 100%;
  height: 100vh;
  height: 100dvh;
  display: flex;
  @media (max-width: 768px) {
    flex-direction: column;
    height: auto;
  }
  .wishImage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    height: 100dvh;
    img {
      object-fit: contain;
      width: 80%;
      max-height: 80%;
    }
  }
}
