.layout {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #ffffff 0%, #fff5f9 50%, #ffbed8 100%);
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 3px;
  }
}
